*{
    font-family: Helvetica, sans-serif;
}

.tableContainer{
    /* display: inline-block; */
    overflow: scroll;
    width:85%;
    height: 80vh;
    margin-right:0;
    margin-left: auto;
    position: relative;    
}

.leftNav{
    position:fixed;
    top: 0;
    left: 0;
    display: block;
    width: 15%;
    height: 100vh;
    z-index: 3;
    background: linear-gradient(325deg,#2e353d,#333b44);
    color: white;
    overflow-y: scroll;
}

.leftNav::-webkit-scrollbar{
    width: 0px;  /* remove scrollbar space */
    display: none;  /* optional: just make scrollbar invisible */
}



table{
    border-collapse: collapse;
    /* table-layout: auto;
    width: 100%; */
    /* table-layout: fixed; */
}


header{
    display: block;
    margin-right:0;
    margin-left: auto;
    width: 80%;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
}

header h1{
    transform: translateX(-30%);
}

td {
    text-align: center;
    padding: 10px;
    font-weight: normal;
    /* width: 100%; */
    border: 1px solid white;
}



button{
    background-color: rgb(39,107,130);
    color: white;
    padding:10px;
    border: 1px solid  rgb(39,107,130);
    border-radius: 10px;
    box-shadow: rgba(163, 155, 155,.5) 2px 2px;
    cursor: pointer;
}

button:active{
    background-color: grey;    
}

input[type=file]{
    display:none;
}


.file-upload{
    background-color:rgb(231, 229, 229);
    color: rgb(0, 0, 0);
    padding:10px;
    border: 1px solid rgb(196, 186, 186);
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: rgba(163, 155, 155,.5) 2px 2px;
    cursor: pointer;
}

.file-upload:active{
    background-color: grey;        
}

table tr:nth-child(even){
    background: #D0E4F5;
    font-size: 12px;
}

table tr:nth-child(odd){
    font-size: 12px;
    background: rgb(179, 197, 212);
}

thead tr:first-child{
	overflow: auto;
	color: #fff;
    /* background: rgba(29,150,178,1); */
    background: #393f46;
    font-size: 16px;
    text-align: center;
    position: sticky;  
    position: -webkit-sticky;
    top: 0;
}

th td{
    margin: 0;
    z-index: 3;
    display: inline-block; 
    border: 1px solid white;
    border-right: none;
    width: 100%;    
    /* border: none;   */
} 

th{
    margin:0;
    padding:0 10px 0 0;
    /* padding-left: 0; */
    border:0;
    border: 1px solid white;    
}

.mainUL{
    list-style-type: none;
    display: inline;
    top:25vh;
    position: relative;
}

.mainUL li{
    display: block;
    background-color: #3a424b;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
    position: relative;
}

.mainUL li:first-child{
    border-top: 1px solid black;
}


.arrow{
    position: absolute;
    display: inline-block;
    right: 30px;
    font-size: 10px;
    transform: rotate(90deg);
}

.mainUL li:hover{
    background-color: #585a5e;
    cursor: pointer;
}

.contriesLI{
    position: relative;
}

li label{
    display: block;
} 

#sliderValue, #sliderValue2 {
    display: inline;
}
